
body{
    margin: 0;
    
}
.arquivar{
    width: 45vh;
}
.logo1{
    display: flex;
    margin-left: 40%;
    width: 20%;
    }
    
    .h5{
        text-align: center;
    }
    .h6{
        text-align: center; 
    }

    .footer{
        margin-top: 30%;

    }
    .text{
        width: 70%;
        margin: 2vh;
     
    }
    