body,ul{
    margin: 0px;
    padding: 0px;
}

#menu li a{
    color: #0f1010;
    text-decoration: none;
    font-family: Ubuntu, sans-serif;
    font-weight: bold;
}

#menu a:hover{
    color: #ab1c1c;
    text-decoration: none;

}

#logo{
    font-size: 2.2rem;
    font-weight: bold;
    margin-left: 100px;
    color: #ab1c1c;
}

#logo span{
    color: #0f1010;

}

#header{
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #888f96;
}
#menu{
    display: flex;
    list-style: none;
    gap: .5rem;
}

#menu a{
    display: block;
    padding: .5rem;
}

#btn-mobile{
    display: none;
}

@media (max-width: 600px) {
    #btn-mobile{
        display: block;
        color: #c3cbe5;
        font-size: 45px;
    }
    #menu{
        display: block;
        position: absolute;
        width: 100%;
        top:70px;
        right: 0;
        background: #0f1010;
        height: 0px;
        transition: .4s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;

    }
    #nav.active #menu{
        height: calc(100vh - 70px); /*vh = view port height*/
        visibility: visible;
        overflow-y: auto;

    }
    #menu a{
        padding: 1rem 0;
        /*margin: 0 2rem;*/
        margin-top: 25px;
        border-bottom: 1px solid rgb(156, 212, 245);
        text-align: center;
        font-size: 20px;
    }
}


