.frame{
    padding: 15px;
    margin-top: 5%;
    margin-left: 18%;
    margin-right: 18%;
    font-size: xxx-large;
}
.frame-title{
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    font-size: 80%;
    color: #4a536e;
    text-align: center;
    font-family: "Arial Black";
}

.frame_buttom_1 {


}
.frame_buttom_2 {


}

@media  (max-width: 600px) {
    .frame_buttom_1 {
        margin-left: 28%;
}
    .frame_buttom_2 {
        margin-left: 40%;
}
    .rodape_logo img{
        margin-left: 37%;
        width: 30%;
}
    .rodape_notas h5{
        margin-left: 5%;
        text-align: justify-all;
        font-size: 80%;
    }
}

@media  (min-width: 640px) {
    .frame_buttom_1 {
        margin-left: 40%;
}
    .frame_buttom_2 {
        margin-left: 44%;
}
    .rodape_logo {
        margin-left: 43%;
        width: 30%;
}
    .rodape_notas h5{
        margin-left: 28%;
        text-align: justify-all;
        font-size: 100%;
    }

}

.rodape_logo img{
    display: inline-flex;
    margin-top: 1%;
    font-size: 10%;
}

.rodape_notas h5{
    font-family: Arial;
    font-weight: bold;
    text-align: justify-all;
    display: inline-flex;

}

.rodape_notas h6{
    font-family: Arial;
    font-size: small;
    font-weight: bold;
    text-align: center;
    display: inline-flex;
    margin-left: 45%;
}

#logo1 {
    
    width: 270px;
    height: 104px;
    filter: contrast(3);
    left: 60px;
    top: 12px;
    
}