<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <title>Cadastro</title>
        <link rel="stylesheet" type="text/css" href="..\static\css\cadastro_style.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="..\static\img\favicon.png" type="image/x-icon">
    </head>
    <body>
        <header>
            <nav class="menu">
                <a href="https://fatecsjc-prd.azurewebsites.net/"><img src="..\static\img\Logo_login_tela_cheia.png" alt="Logo" id="logo"></a>
                <a href="{{ url_for ('index')}}">
                    <button id="voltar" ">Voltar</button>
                </a>
            </nav>
        </header>
        <div>
            <h1 id="title_1">Cadastro de Usuário</h1>
        </div>
        <div class="container" ></div>
            <form action="cadastro" method="POST">
                <label class="item" for="nome">Nome Usuário</label>
                <input class="item" type="text" id="nome" name="nome" required>
                <label class="item" for="email">E-mail</label>
                <input class="item" type="email" id="email" name="email" required>
                <label class="item" for="matricula">Matrícula</label>
                <input class="item" type="text" id="matricula" name="matricula" required>
                <label class="item" for="pwd">Senha</label>
                <input class="item" type="password" id="pwd" name="pwd" required>
                <label class="item" for="cpwd">Confirma Senha</label>
                <input class="item" type="password" id="cpwd" name="cpwd" required>
                <input  class="item1" type="submit" value="Cadastro"  >
            </form>
        </div>


        <div id="rodape">
            <img src="..\static\img\logo_rodape_cadastro.png" alt="logo" " id="logo1">
        </div>
        <div class="rodape_notas">
            <h5>Faculdade de Tecnologia de São José dos Campos - Prof. Jessen Vidal </h5>
            <h6>2021 S.A Gfour®</h6>
        </div>
    </body>
</html>