<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>

    <link rel="stylesheet" href="../static/css/cadastro.css">
</head>
<body>
    
    <header>

        <a href="https://fatecsjc-prd.azurewebsites.net/"><img class="logo" src="../static/img/logofatec.png" alt=""></a>

        <a href="../templates/login1.html"><button id="botao-voltar">VOLTAR</button></a>

    </header>

    <p id="user_cadastro"><b>Cadastro de Usuário</b></p>

    <div class="box_centro">

        <p class="nome_usuario"><b>Nome de Usuário</b></p>
        <br>
        <input type="text-box" class="text_box_nome_user" style="padding: 2px; outline: 0px; font-size: 14pt;" placeholder="Digite seu nome por favor">

        <br>
        <br>

        <p class="email"><b>E-mail</b></p>
        <br>
        <input type="text-box" class="text_box_email" style="padding: 2px; outline: 0px; font-size: 14pt;" placeholder="Digite seu e-mail por favor">

        <br>
        <br>

        <p class="matricula"><b>Matricula</b></p>
        <br>
        <input type="text-box" class="text_box_matricula" style="padding: 2px; outline: 0px; font-size: 14pt;" placeholder="Digite sua matricula por favor">

        <br>
        <br>
        
        <p class="senha"><b>Senha</b></p>
        <br>
        <input type="password" class="text_box_senha" style="padding: 2px; outline: 0px; font-size: 14pt;" placeholder="Digite uma senha por favor">

        <br>
        <br>

        <p class="confirmação_de_senha"><b>Confirme Sua Senha</b></p>
        <br>
        <input type="password" class="text_box_confirm_senha" style="padding: 2px; outline: 0px; font-size: 14pt;" placeholder="Digite sua senha novamente">
        <br>
        <a href="../templates/login1.html"><button id="botão_cadastrar">Cadastrar</button></a>

    </div>

    <div id="rodape">
        <img src="../static/img/Governo_login_tela_cheia.png" alt="logo"  class="logo1">
    </div>
        <h5 class="h5">Faculdade de Tecnologia de São José dos Campos - Prof. Jessen Vidal </h5>
        <h6 class="h6">2021 S.A Gfour®</h6>

</body>
</html>