<!DOCTYPE html>
    <html lang="pt br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="..\static\css\login1.css">
        <link rel="shortcut icon" href="..\static\img\favicon.png" type="image/x-icon">
        <title>login</title>


    </head>
<body>
        <!--DIV's do Retangulo e Links-->
        <header>
            <a href="https://fatecsjc-prd.azurewebsites.net/"><img class="logo" src="..\static\img\Logo1.png" alt=""></a>
            </div>
            <a href="https://fatecsjc-prd.azurewebsites.net/"><button id="botao-voltar">VOLTAR</button></a>
        </header>
            
        </div>        

            <div class="borda">
                <div class="quadrado">
                
                        <p class="usuario">Usuário / e-mail</p>
                        <br>
                        <input type="text-box" class="ret_usuario" style="padding: 5px; outline: 0px; font-size: 14pt;">
                        <br>
                        <p class="senha">Senha</p>
                        <br>
                        <input type="password" class="ret_senha" style="padding: 5px; outline: 0px; font-size: 14pt;">
                        
                        <input type="checkbox" name="lembrar-me" id="quadradinho">
                        <p class="lembrar">Lembrar-me</p>
                        <a href="tela_cheia.html"><button id="button_ent">Entrar</button></a>
                        <span class="cad"><a href="../templates/cadastro1.html">Cadastre-se</a> </span>

                </div>
            
            </div>

        
                                        <!--FIM BOLHAS-->
  

       


                <!--Rodapé-->
            <div id="rodape">
                <img src="..\static\img\CPS.png" alt="logo"  class="logo1">
            </div>
                <h5 class="h5">Faculdade de Tecnologia de São José dos Campos - Prof. Jessen Vidal </h5>
                <h6 class="h6">2021 S.A Gfour®</h6>
        


            

    </body>
</html>