<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Visualizar Postagens</title>
</head>
<body>
    <div>
        <h1>Mural de Visualizações</h1>
    </div>
    <div>
        <a href="{{ url_for ('postar')}}">
                    <button id="postar" ">Postar</button>
    </div>
    <div>
        {% for mostrar in postagens %}
            <h2>Título da mensagem : {{ mostrar['titulo'] }}</h2>
            <h3>Conteúdo : {{ mostrar['conteudo'] }}</h3>
            <h3>Autor: {{ mostrar['nome'] }}</h3>
        <span style="color: #2f6627">Hora da postagem : {{ mostrar['data'] }}</span>
        <hr>
        {% endfor %}
    </div>

</body>
</html>