<!DOCTYPE html>
<html lang="pt-br">
<head>
 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <title>CRUD management Local</title>

 <link href="../static/css/bootstrap.min.css" rel="stylesheet">
 <link href="../static/css/style.css" rel="stylesheet">
 
</head>
<body>

 <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
   <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
     <span class="sr-only">Toggle navigation</span>
     <span class="icon-bar"></span>
     <span class="icon-bar"></span>
     <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/templates/login.html">management Local</a>
   </div>
   <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right">
     <li><a href="/admin">inicio</a></li>
	 <li><a href="/edit">update_user</a></li>
    </ul>
   </div>
  </div>
 </nav>
 
 <div id="main" class="container-fluid">
  
  <h3 class="page-header">Adicionar Item</h3>

	<form action="add" method="post">
		<div class="row">
		<div class="form-group col-md-4">
			<label for="exampleInputEmail1">Nome</label>
			<input type="text" class="form-control" name="nome"
                   id="exampleInputEmail1" placeholder="Nome Usuario">
		</div>

		</div>
		<div class="row">
		<div class="form-group col-md-4">
			<label for="exampleInputEmail1">Email</label>
			<input type="email" class="form-control" name="email"
                   id="exampleInputEmail1" placeholder="Email">
		</div>

		</div>
		<div class="row">
		<div class="form-group col-md-4">
			<label for="exampleInputEmail1">Cargo</label>
			<input type="email" class="form-control" id="exampleInputEmail1" placeholder="novo cargo">
		</div>	
		</div>
		<div class="row">
		<div class="form-group col-md-4">
			<label for="exampleInputEmail1">Curso</label>
			<input type="email" class="form-control" id="exampleInputEmail1" placeholder="novo curso">
		</div>	
		</div>
		
			
		
	</form>
		
		
		
		<hr />
		
		<div class="cow">
		<div class="col-md-12">
			<button type="submit" class="btn btn-primary">Salvar</button>
			<a href="/admin" class="btn btn-default">Cancelar</a>
		</div>
		</div>

  
 </div>
 

 <script src="js/jquery.min.js"></script>
 <script src="js/bootstrap.min.js"></script>
</body>
</html>