<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="..\static\img\favicon1.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/visualizacao.css">    
    <link href="../static/css/style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/novanav.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <style>
        body::-webkit-scrollbar {
  width: 15px;               
}

body::-webkit-scrollbar-track {
  background: #ffffff;        
}

body::-webkit-scrollbar-thumb {
  background-color: #e1e1e3;    /* color of the scroll thumb */
  border-radius: 5px;       /* roundness of the scroll thumb */
  border: 1.5px solid rgb(0, 0, 0);  /* creates padding around scroll thumb */
}
    </style>
    {% endblock %}
</head>
<body>
    {% block nav %}
    <header class="header" >
        <a href="{{ url_for ('logout') }}" style=" font-size: 35px;" id="logo"> <img src="../static/img/favicon.png" width="60" height="60" class="d-inline-block align-top" alt="" >Fa<span>tec</span></a>
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="navicon" ></span></label>
        <ul style=" font-size: 18px; "class="menu">
            <li ><a href="{{ url_for ('admin') }}">Inicio</a></li>
            <li><a href=" {{ url_for ('add_grupo') }}" >Novo Grupo</a></li>
            <li><a href="{{ url_for ('logout') }}">Logout</a></li>
            
        </ul>
      </header> 
    {% endblock %}

    {% block contents %}

    {% endblock contents %}
    
</body> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script> -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
{% block js %}
{% endblock %}
</html>