<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
    <link rel="stylesheet" type="text/css" href="/static/css/cadastro_style.css">
    <link rel="shortcut icon" href="/static/img/favicon.png" type="image/x-icon">

</head>
<body>
    <header>
        <nav class="menu">
            <a href="https://fatecsjc-prd.azurewebsites.net/"><img src="/static/img/logo-final_cadastro.png" alt="Logo" id="logo"></a>
                <a href="login.html">
                     <button id="voltar">Voltar</button>
                 </a>
            </nav>
  </header>
    <div>
      <h1 id="title_1">Cadastro de Usuário</h1>
    </div>
    <div id="fundo" ></div>
    <div id="cad_Name">
        <p>Nome Usuário</p>
        <input id="cad_Name1"  type="text">
    </div>
    <div id="cad_Email">
        <p>E-mail</p>
        <input id="cad_Email1" type="email">
    </div>
    <div id="cad_Matricula">
        <p>Matricula</p>
        <input id="cad_Matricula1" type="text">
    </div>
    <div id="cad_Pwd">
        <p>Senha</p>
        <input id="cad_Pwd1" type="password">
    </div>
    <div id="cad_ConfPwd">
        <p>Confirmação Senha</p>
        <input id="cad_ConfPwd1" type="password">
    </div>
    <div>
        <button id="cad_Botao"><a href="login.html">Cadastrar</a></button>
    </div>
    <div id="rodape">
        <img src="/static/img/logo_rodape_cadastro.png" alt="logo" " id="logo1">
    </div>
    <div class="rodape_notas">
        <h5>Faculdade de Tecnologia de São José dos Campos - Prof. Jessen Vidal </h5>
        <h6>2021 S.A Gfour®</h6>
    </div>
</body>
</html>