<!DOCTYPE html>
<html lang="pt br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/criar.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Criar</title>
</head>
<body>
    
    <header>
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" style="font-weight: bold;font-size: x-large;margin-left: 5px;text-align: center"><img src="../static/img/favicon.png" width="40" height="40" class="d-inline-block align-top" alt=""> FATEC SJC </a>
              <form  class="d-flex">
                  <button  style="margin-right:5% ;font-weight: bold"   class="btn btn-secondary" type="button">Voltar</button>
                <a href=""></a>  <button style="margin-right: ;font-weight: bold"    class="btn btn-secondary" type="button">Logout</button>
              </form>
            </div>
          </nav>
    </header>
    <br>
    <div class="text"> 

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"><strong>Criar Titulo</strong></label> 
            <select class="form-select1" aria-label="Default select example">
                <option selected>PROF</option>
                <option value="1">DIR</option>
                <option value="2">CDC</option>
                <option value="3">ALUNOS</option>
            </select>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Titulo">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label"><strong>Criar Descrição</strong></label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Descrição"></textarea>
        
                <input class="arquivar" type="file" value="Arquivar">
                <input class="enviar" type="submit" value="Enviar">
                <input class="enviar" type="submit" value="Exibir">
        
           
        </div>

    </div>
        
   



    <footer class="footer">
        <img src="../static/img/logo_rodape_cadastro.png" alt="logo"  class="logo1">
        <h5 class="h5">Faculdade de Tecnologia de São José dos Campos - Prof. Jessen Vidal </h5>
        <h6 class="h6">2021 S.A Gfour®</h6> 
    </footer>

</body>
</html>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
