{% extends "base.html" %}
{% block contents %}
<title>Edição de Usuario</title>
<body>
<!--{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div style="font-weight: bold;font-size: small;  color: red;font-family: Arial;margin:5%;"  class="notification is-danger">
            {{ messages[0] }}
        </div>
    {% endif %}
{% endwith %}-->

<div  class="my-5 d-flex justify-content-center ">
	
		
	
  <form action="/edit/{{ user.idUsuario }}" class="my-5 w-50  " method="post" >
	<div class="row">
	<div class="form-group ">
		<h3 class=" " style="font-size: 25px;"><strong>Editar Item</strong></h3>
		<label for="examnpleFormControlIput1" class="form-label" style="font-size: 20px;">Nome</label>
		<input type="" style=" font-size: 15px; " class="form-control" name="nome" value="{{ user.nomeUsuario }}" id="exampleInputEmail1" placeholder="nome">
	</div>	
	</div>
	<div class="row">
	<div class="form-group ">
		<label for="exampleInputEmail1" style="font-size: 20px;">Email</label>
		<input type="email" style="font-size: 15px; " class="form-control"  name="email"  value="{{ user.emailUsuario }}"   id="exampleInputEmail1" placeholder="Email">
	</div>	
	</div>
	<div class="row">
	<div class="form-group ">
		<label for="exampleInputEmail1" style="font-size: 20px;">Cargo</label>
		<select name="cargo" value="{{ user.tipoUsuario }}" style="font-size: 15px;" id="exampleInputEmail1" class="form-control">
            <option value="aluno" {% if user.tipoUsuario == "aluno" %} selected{%endif%}>ALUNO</option>
            <option value="professor"{% if user.tipoUsuario == "professor" %} selected{%endif%}>PROFESSOR</option>
            <option value="admin"{% if user.tipoUsuario == "admin" %} selected{%endif%}>ADMINISTRADOR</option>
        </select>
	</div>	
	</div>
  	<fieldset>
		<legend style="font-size: 25px;"> <strong>Escolha seus Grupos </strong></legend>
		{%for grupo in grupos %}


		<div>
			<input type = "checkbox" style="width: 15px; height: 15px;" id = "codificação" name = 'grupos' value = "{{grupo.idGrupo}}" {% if grupo.idGrupo in usuario_grupos %} checked {%endif%}>
			<label for = "coding" style="font-size: 14px;"> {{grupo.nomeGrupo}} </label>
			
		</div>

	
		{% endfor %}
  	</fieldset>

	
	<br>
	
	<div class="row">
	  <div class="col-md-12">
	  	<button type="submit" class="btn btn-primary" style="background: rgb(65, 65, 65);border-color:rgb(154, 154, 158);">Atualizar</button>
		<a href="/admin" class="btn btn-primary" style="background: rgb(65, 65, 65);border-color:rgb(154, 154, 158);">Cancelar</a>
	  </div>
	</div>

  </form>

 
 <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->

</body>
{% endblock %}
</html>