<!--<!DOCTYPE html>
<html lang="pt-br">
<head>
 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <title>Administrar Usuarios </title>
 <link href="../static/css/bootstrap.min.css" rel="stylesheet">
 <link href="../static/css/style.css" rel="stylesheet">
</head>
 -->

{% extends "base.html" %}
{% block contents %}
<title>Edição de Usuario</title>
<body>
<!--{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div style="font-weight: bold;font-size: small;  color: red;font-family: Arial;margin:5%;"  class="notification is-danger">
            {{ messages[0] }}
        </div>
    {% endif %}
{% endwith %}-->
<!--
 <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
   <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
     <span class="sr-only">Toggle navigation</span>
     <span class="icon-bar"></span>
     <span class="icon-bar"></span>
     <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/templates/login.html">management Local</a>
   </div>
   <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right">
		<li><a href="/admin">inicio</a></li>
		<li><a href="/add">New User</a></li>
    </ul>
   </div>
  </div>
 </nav>
-->
 <div id="main" class="container-fluid">
  
  <h3 class="page-header" style="margin-top: -20px; font-size: 25px;"><strong>Editar Item</strong></h3>
  
  <form action="/edit/{{ user.idUsuario }}" method="post">
	<div class="row">
	<div class="form-group col-md-4">
		<label for="exampleInputEmail1" style="font-size: 20px;">Nome</label>
		<input type="" style="font-size: 15px; height: 30px;" class="form-control" name="nome" value="{{ user.nomeUsuario }}" id="exampleInputEmail1" placeholder="nome">
	</div>	
	</div>
	<div class="row">
	<div class="form-group col-md-4">
		<label for="exampleInputEmail1" style="font-size: 20px;">Email</label>
		<input type="email" style="font-size: 15px; height: 30px;" class="form-control"  name="email"  value="{{ user.emailUsuario }}"   id="exampleInputEmail1" placeholder="Email">
	</div>	
	</div>
	<div class="row">
	<div class="form-group col-md-4">
		<label for="exampleInputEmail1" style="font-size: 20px;">Cargo</label>
		<select name="cargo" value="{{ user.tipoUsuario }}" style="font-size: 15px; height: 30px;" id="exampleInputEmail1" class="form-control">
            <option value="aluno">ALUNO</option>
            <option value="professor">PROFESSOR</option>
            <option value="admin">ADMINISTRADOR</option>
        </select>
	</div>	
	</div>
  <fieldset>
    <legend style="font-size: 25px;"> <strong>Escolha seus Grupos </strong></legend>
    {%for grupo in grupos %}


      <div>
        <input type = "checkbox" style="width: 15px; height: 15px;" id = "codificação" name = 'grupos' value = "{{grupo.idGrupo}}" {% if grupo.idGrupo in usuario_grupos %} checked {%endif%}>
        <label for = "coding" style="font-size: 14px;"> {{grupo.nomeGrupo}} </label>
        
      </div>

   
    {% endfor %}
  </fieldset>

	
	<hr />
	
	<div class="row">
	  <div class="col-md-12">
	  	<button type="submit" class="btn btn-primary" style="height: 31px; font-size: 15px;">Atualizar</button>
		<a href="template.html" class="btn btn-default" style="height: 31px; font-size: 15px;">Cancelar</a>
	  </div>
	</div>

  </form>
 </div>
 
 <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->

</body>
{% endblock %}
</html>