<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="..\..\GRUPO-Gfour---API-ESTUDOS\static\css\home_style.css">
        <link rel="shortcut icon" href="..\..\GRUPO-Gfour---API-ESTUDOS\static\img\favicon.png" type="image/x-icon">
    </head>
    <body>
        <div class="boxTopo">
            <a href="https://fatecsjc-prd.azurewebsites.net/"> <img id="tamanhoImg" src="..\..\GRUPO-Gfour---API-ESTUDOS\static\img\logofatec.png" alt="Logo Fatec"></a>
            <div class="buttonLogout">
                <a href="login.html">Logout</a>
            </div>
        </div>
        <div class="box2">
            <div class="boxPesquisar">
                <h4 class=textBoxPesquisar>Pesquisar por: </h4>
                <input type="text" class="qbuscar" style="font-size: 14pt;padding-left: 15px; outline: 0px;">
            </div>
            <div class="buttonBuscar">
                <b>Buscar</b>
            </div>
        </div>
        <div class="boxMeio">
            <div class="boxMeioInfoGeral">
                <div class="textInfoGeral">
                    <h1> prévia de informações</h1>
                </div>
                <div class="buttonInfoGeral">         
                    <select name="Filtro" style="border: 0px;background-color: #D4DADA;font-size: 14pt;font-weight: bold;">
                        <option>PROF</option>
                        <option>DIR</option>
                        <option>CDC</option>
                        <option>SEC</option>
                    </select>
                </div>
                <div class="buttonExpansao">
                   <a href="tela_cheia.html"><img id="imgExpansao " src="..\..\GRUPO-Gfour---API-ESTUDOS\static\img\expansao.png"> </a>
                </div>
            </div>
            <div class="boxMeioTextInfoGeral">
                <b>Informações Gerais</b>
            </div>
            <div class="boxMeioAgendaPessoal">
                <img id="imgCalendario" src="..\..\GRUPO-Gfour---API-ESTUDOS\static\img\calendarioMeio.png">
            </div>
            <div class="boxMeioTextAgendaPessoal">
                <b>Calendário</b>
            </div>
            <div class="boxMeioPublicacoes">
                <div class="boxMeioPublicacoesTela">

                </div>
                <div class="buttonPublicacoes">
                    <b>Enviar</b>
                </div>
                <div class="boxMeioPublicacoesAnexar">
                    <img id="imgAnexar" src="..\..\GRUPO-Gfour---API-ESTUDOS\static\img\clips2.png">
                </div>
                <div class="boxMeioPublicacoesData">
                    <img id="imgData" src="..\..\GRUPO-Gfour---API-ESTUDOS\static\img\calendario2.png">
                </div>
            </div>
            <div class="boxMeioTextPublicacoes">
                <b>Publicações</b>
            </div>
        </div>
        <div id="rodape">
            <img src="..\..\GRUPO-Gfour---API-ESTUDOS\static\img\logo_rodape_cadastro.png" alt="logo" id="logo1">
        </div>
        <div class="rodape_notas">
            <h5>Faculdade de Tecnologia de São José dos Campos - Prof. Jessen Vidal </h5>
            <h6>2021 S.A Gfour®</h6>
        </div>
    </body>
</html>