<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="/static/css/home_style.css">
        <link rel="shortcut icon" href="/static/img/favicon.png" type="image/x-icon">
    </head>
    <body>
        <div class="boxTopo">
            <img id="tamanhoImg" src="/static/img/logofatec.png" alt="Logo Fatec">
            <div class="buttonLogout">
                <b>Logout</b>
            </div>
        </div>
        <div class="box2">
            <div class="boxPesquisar">
                <h4 class=textBoxPesquisar>Pesquisar por: </h4>
            </div>
            <div class="buttonBuscar">
                <b>Buscar</b>
            </div>
        </div>
        <div class="boxMeio">
            <div class="boxMeioInfoGeral">
                <div class="textInfoGeral">
                    <h1> comunicados....</h1>
                </div>
                <div class="buttonInfoGeral">
                    <b>Filtro</b>
                </div>
                <div class="buttonExpansao">
                    <img id="imgExpansao " src="/static/img/expansao.png">
                </div>
            </div>
            <div class="boxMeioTextInfoGeral">
                <b>Informações Gerais</b>
            </div>
            <div class="boxMeioAgendaPessoal">
                <img id="imgCalendario" src="/static/img/calendarioMeio.png">
            </div>
            <div class="boxMeioTextAgendaPessoal">
                <b>Calendário</b>
            </div>
            <div class="boxMeioPublicacoes">
                <div class="boxMeioPublicacoesTela">

                </div>
                <div class="buttonPublicacoes">
                    <b>Enviar</b>
                </div>
                <div class="boxMeioPublicacoesAnexar">
                    <img id="imgAnexar" src="/static/img/clips2.png">
                </div>
                <div class="boxMeioPublicacoesData">
                    <img id="imgData" src="/static/img/calendario2.png">
                </div>
            </div>
            <div class="boxMeioTextPublicacoes">
                <b>Publicações</b>
            </div>
        </div>
        <div class="boxRodape">
            <div class="boxRodapeText">
                <b><p>Faculdade de Tecnologia de São José dos Campos - Prof. Jessen Vidal</p>
                <p>2021 S.A Gfour</p></b>
            </div>
            <div>
                <img id="tamanhoRodape" src="/static/img/CPS.png">
            </div>
        </div>
    </body>
</html>