<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="..\static\img\favicon1.png" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="../static/css/novanav.css">
<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
<link href="../static/css/signin.css" rel="stylesheet">
<title>login</title>
    <style>

    .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    }

    @media (min-width: 768px) {
    .bd-placeholder-img-lg {
    font-size: 3.5rem;
    }
    }
</style>

</head>
<body class="text-center" style="background-color: #e1e1e3">
    <!--login-area  area de login-->  
    <main class="form-signin">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div style="font-weight: bold;color: red;font-family: Arial;margin:5%;"  class="notification is-danger">
            {{ messages[0] }}
        </div>
        {% endif %}
    {% endwith %}
        <form action="/login" method="POST">
            <img class="mb-4" src="../static/img/Logo1.png" alt="" width="320" height="220" style="filter: contrast(2);">
            <h1 class="h3 mb-3 fw-normal">Login</h1>
            <div class="form-floating">
                <input type="email" class="form-control" name="e-mail"  id="floatingInput" placeholder="nome usuário">
                <label for="floatingInput">E-mail</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" name="pwd" id="floatingPassword" placeholder="Senha">
                <label for="floatingPassword">Senha</label>
            </div>
            <div>
                <button class="btn btn-primary btn-lg active"style=";background: rgb(65, 65, 65);border-color:rgb(154, 154, 158);width: 120px;height: 47px;" type="submit" value="login">Entrar</button>
          
        </form>
        
            <a href="{{ url_for ('cadastrar')}}"><button class="btn btn-primary btn-lg active" style="background: rgb(65, 65, 65);border-color:rgb(154, 154, 158);width: 120px;height: 48px;;";" type="button" value="Cadastrar">Cadastrar</button></a>
        		</div>
        <div class="checkbox mb-3" style="margin-top: 5%">
            
        </div>
         <a style="text-decoration:none;;" href="https://github.com/marynhaSjc/API-Gfour---Fatec-SJC"><p class="mt-5 mb-3 text-muted">🥑 Gfour 2021</p></a>
        <!--&copy-->


    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
</body>
</html>
<!--                                              
   ____          _____   ___   _   _  ____  
  / ___|        |  ___| / _ \ | | | ||  _ \ 
 | |  _  _____  | |_   | | | || | | || |_) |
 | |_| ||_____| |  _|  | |_| || |_| ||  _ < 
  \____|        |_|     \___/  \___/ |_| \_\
                                                                                                                                                                                                                             
-->