<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página_Login</title>
    <link rel="stylesheet" href="..\..\GRUPO-Gfour---API-ESTUDOS\static\css\login_style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  </head>
    <body>  

      <!--DIV's do Retangulo e Links-->
        <div class="retangulo_cabeçalho">
        <img class="logo"  src="..\..\GRUPO-Gfour---API-ESTUDOS\static\img\Logo_login_tela_cheia.png" alt="Logo Fatec">
        </div>

      <!--Links-->
        <div class="nav_bar">
          <a href="login.html">Home</a> |
          <a href="https://fatecsjc-prd.azurewebsites.net/">Site FATEC</a> |
          <a href="https://siga.cps.sp.gov.br/aluno/login.aspx">SIGA</a>
        </div>

      <!--Titulo SIF-->
        <div class="SIF">      
          Bem-Vindo ao SIF - Sistema de Informações FATEC
        </div>

      <!--Tela Login-->
        <div class="retangulo_meio"></div>
        <div class="quadrado"></div>
        <span class="usuario"> Usuário / e-mail</span>
        <div class="ret_usuario"></div>
        <span class="senha">Senha</span>
        <div class="ret_senha"></div>
        <div class="quadradinho"></div>
        <span class="lembrar">Lembrar-me</span>
        <div class="quadrado_ent"></div>
        <span class="ent">Entrar</span>
        <span class="esq_senha">Esqueceu sua senha?     Clique aqui</span>
        <span class="cad">Cadastre-se</span>


      <!--Rodape-->
        <div><img class="gov" src="..\..\GRUPO-Gfour---API-ESTUDOS\static\img\Governo_login_tela_cheia.png" alt=""></div>
        <span class="facul">Faculdade de Tecnologia de São José dos Campos - Prof. Jessen Vidal - 2021 S.A Gfour</span>   

    </body>

</html>