<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Visualização</title>
    <link rel="stylesheet" href="../static/css/visualizacao.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
  load_data();
  function load_data(ab)
  {
   $.ajax({
    url:"/localizar",
    method:"POST",
    data:{query:ab},
    success:function(data)
    {
        console.log(data)
      $('#result').html(data);
      $("#result").append(data.htmlresponse);
    }
   });
  }
  $('#search_text').keyup(function(){
    console.log('TESTE')
    var search = $(this).val();
    if(search != ''){
    load_data(search);
   }else{
    load_data();
   }
  });
});
</script>

</head>
<body style="background-color: #e1e1e3">
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" style="font-weight: bold;font-size: x-large;margin-left: 5px;text-align: center"><img src="../static/img/favicon.png" width="40" height="40" class="d-inline-block align-top" alt=""> FATEC SJC </a>
            <form  class="d-flex">
                <a href="{{ url_for('show')}}">   <button  style="margin-left:-10% ;font-weight: bold"   class="btn btn-secondary" type="button">Voltar</button></a>
                <a href="{{ url_for ('logout') }}">  <button style="margin-right:5% ;font-weight: bold"  class="btn btn-secondary" type="button">Logout</button></a>
            </form>
        </div>
    </nav>

    <header>
        <h3 style="text-align:center"> Pesquisar </h3>
    </header>

    <!--<div class="my-3 p-3 bg-white rounded box-shadow"></div>-->
    <div>
    <input  style="width: 40%;margin-top:5%;margin-left: 30%" type="text" name="search_text" id="search_text" class="form-control" placeholder="Procurar por ">
    <a href="{{ url_for ('leitura') }}"> <button  style="margin-left:47%;margin-top:3% ;    font-weight: bold"   class="btn btn-secondary" type="button">Publicar</button></a>

            <br>
            <br>
            <hr>
    </div>
        <br>
        <br>

        <div id="result">

        </div>


    </div>
    <footer class="footer">
        <img src="/static/img/logo_rodape_cadastro.png" alt="logo"  class="logo1">
        <h5 class="h5">Faculdade de Tecnologia de São José dos Campos - Prof. Jessen Vidal </h5>
        <h6 class="h6">2021 S.A Gfour®</h6>
    </footer>

</body>
</html>