<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/novanav.css">
    <link rel="stylesheet" href="..\static\css\postar.css" type="text/css">
    <link rel="shortcut icon" href="..\static\img\favicon1.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">     
    
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
   
    <title>Postar</title>
</head>
<style>
body{
    background-color: #e1e1e3;
}
</style>

<body class="body">
    <header class="header">
        <a href="https://fatecsjc-prd.azurewebsites.net/" id="logo"> <img src="../static/img/favicon.png" width="60" height="60" class="d-inline-block align-top" alt="">Fa<span>tec</span></a>
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        <ul class="menu">
            <li><a href="{{ url_for('show')}}">Home</a></li>
            {% if podePostar %}
            <li><a href="{{ url_for ('leitura') }}">Publicar</a></li>
            {% endif %}
            <li><a href="{{ url_for ('pesquisar') }}">Pesquisar</a></li>
            <li><a href="{{ url_for ('logout') }}">Logout</a></li>
        </ul>
      </header>


<div class="borda">
    
    <form action="/arquivos"
            method="post"
            enctype="multipart/form-data"
            class="m-3">

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"><strong>Criar Titulo</strong></label>
            <input type="text" class="form-control" maxlength="25"  name="titulo" id="exampleFormControlInput1" placeholder="Titulo" value = "{{ request.form['titulo']}}">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label"><strong>Criar Descrição</strong></label>
            <textarea class="form-control"  name="conteudo"  id="exampleFormControlTextarea1" rows="3" placeholder="Descrição">{{ request.form['conteudo'] }}</textarea>
            <br>
        </div>

        <div class="form-group m-auto" style ="width: 40%;">
            <label for="exampleFormControlTextarea1" class="text-left d-block"><strong>Selecione os Grupos </strong></label>
            <select class="js-example-basic-multiple form-control" name="grupos" multiple="multiple">
                {%for grupo in grupos %}

                <option value="{{grupo.idGrupo}}">{{grupo.nomeGrupo}}</option>
                {% endfor %}
              </select>
        
        </div>
            <div class="container">
         <input id="meuArquivo"  name="meuArquivo" class="arquivar" style="font-weight: bold;margin-left: 39%;" type="file">
            <input style="font-weight: bold" class="enviar" type="submit" value="Enviar">
            </div>
    </form>
</div>
{% with messages = get_flashed_messages() %}
{% if messages %}
    <div style="font-weight: bold;color: red;font-family: Arial;margin-left: 50%;margin-top: 2%"  class="notification is-danger">
        {{ messages[0] }}
    </div>
{% endif %}
{% endwith %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
<script>
    $(document).ready(function() {
    $('.js-example-basic-multiple').select2();
});
</script> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
</body>
</html>