<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\static\css\postar.css" type="text/css">
    <link rel="shortcut icon" href="..\static\img\favicon.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title>Postar</title>
</head>

<body>
<header>
    <a href="https://fatecsjc-prd.azurewebsites.net/"><img class="logo" src="../static/img/Logo1.png" alt=""></a>
    <a href="{{ url_for ('logout') }}"> <img style="margin-right: 15%" title="Logout" src="../static/img/sair.png" class="imgsair" alt=""></a>
</header>



<div class="borda">
    <form action="postar"  name="formulario" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"><strong>Criar Titulo</strong></label>
            <select class="form-select1" aria-label="Default select example">
                <option selected>PROF</option>
                <option value="1">DIR</option>
                <option value="2">CDC</option>
                <option value="3">ALUNOS</option>
            </select>
            <input type="text" class="form-control"  name="titulo" id="exampleFormControlInput1" placeholder="Titulo" value = "{{ request.form['titulo']}}">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label"><strong>Criar Descrição</strong></label>
            <textarea class="form-control"  name="conteudo"  id="exampleFormControlTextarea1" rows="3" placeholder="Descrição">{{ request.form['conteudo'] }}</textarea>
            <br>
            <div class="container">
                <div class="row">
                    <div class="col" style="margin-left: 10%">
                        <a style="font-weight: bold">Data Inicio Evento</a>
                        <input type="date"   class="dt_inicio">
                    </div>
                    <div class="col" style="margin-right: 10%" >
                        <a style="font-weight: bold" >Data Fim Evento </a>
                        <input type="date" class="dt_fim">

                    </div>
                    <input class="arquivar" type="file"  title=" " value="Arquivar" >
                    <input style="font-weight: bold" class="enviar" type="submit" value="Enviar">
                </div>
                <br>



                </div>

        </div>
  </form>

</div>
{% with messages = get_flashed_messages() %}
{% if messages %}
    <div style="font-weight: bold;color: red;font-family: Arial;margin-left: 50%;margin-top: 2%"  class="notification is-danger">
        {{ messages[0] }}
    </div>
{% endif %}
{% endwith %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>