<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Tela de Visualização de Informação</title>
        <link rel="stylesheet" type="text/css" href="..\static\css\tela_info_style.css">
        <link rel="shortcut icon" href="..\static\img\favicon.png" type="image/x-icon">
    </head>
    <body>
        <!-- DEFINIÇÃO DE CABEÇALHO -->
        <div class="boxTopo">
            <a href="https://fatecsjc-prd.azurewebsites.net/"> <img id="tamanhoImg" src="..\static\img\logofatec.png" alt="Logo Fatec"></a>      
        </div>
        <!-- FUNDO TELA DE VISUALIZAÇÃO -->
        <div class="screenInfo">
            <!-- BOTÃO FECHAR -->
            <div class="buttonFechar">
                <a href="visualizacao.html">X</a>
            </div>
            <!-- ID -->
            <div id="screenId">
                ID: #1574
            </div>
            <!-- ENVIADO POR: -->
            <div id="screenEnvio">
                ENVIADO POR:
            </div>
            <!-- NOME PROFESSOR -->
            <div id="screenProf">
                PROF - MASANORI
            </div>
            <!-- FUNDO COMUNICADO -->
            <div class="screenComunicado">
                <h1 class="descricaoComunicado">DESCRIÇÃO COMUNICADO...</h1>
            </div>
            <!-- FUNDO ANEXOS -->
            <div class="screenAnexos">
                <h1 class="textoAnexo">Anexo</h1>
                <h1 class="textoTamanho">Tamanho</h1>
                <h1 class="nomeAnexo">Arquivo.pdf</h1>
                <h1 class="tamanhoAnexo">3.0mb</h1>
                <img id="imgAnexar" src="..\static\img\clips2.png">
            </div>
            <!-- TITULO -->
            <div id="screenTitulo">
                TITULO:
            </div>
            <!-- DESCRIÇÃO TITULO -->
            <div id="screenDescricaoTitulo">
                PYTHON É LEGAL!
            </div>
            <!-- DATA PUBLICAÇÃO -->
            <div id="screenPublicacao">
                DATA DE PUBLICAÇÃO:
            </div>
            <!-- DD/MM/AA PUBLICAÇÃO -->
            <div id="dataPublicacao">
                25/12/2021
            </div>
            <!-- DATA EXPIRAÇÃO -->
            <div id="screenExpiracao">
                DATA DE EXPIRAÇÃO:
            </div>
            <!-- DD/MM/AA EXPIRAÇÃO -->
            <div id="dataExpiracao">
                26/12/2021
            </div>
        </div>
        <!-- RODAPÉ -->
        <div id="rodape">
            <img src="..\static\img\logo_rodape_cadastro.png" alt="logo" id="logo1">
        </div>
        <div class="rodape_notas">
            <h5>Faculdade de Tecnologia de São José dos Campos - Prof. Jessen Vidal </h5>
            <h6>2021 S.A Gfour®</h6>
        </div>
    </body>
</html>