<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela Cheia</title>
    <link rel="stylesheet" href="..\..\GRUPO-Gfour---API-ESTUDOS\static\css\tela_cheia_style.css">

</head>


<body>
     <!--DIV's do Retangulo e Links-->
    <div class="retangulo_cabeçalho">
        <a href="https://fatecsjc-prd.azurewebsites.net/"><img class="logo"  src="..\..\GRUPO-Gfour---API-ESTUDOS\static\img\Logo_login_tela_cheia.png" alt="Logo Fatec"></a>
    </div>

    <!--Abas-->
        
    <span class="cargo">Cargo</span>
    <span class="data">Data</span>
    <span class="pesquisar">Pesquisar por:</span>

    <div class="qcargo"></div>
    <div class="qdata"></div>
    <div class="qpesquisar"></div>
    <div class="qbuscar"></div>

    <span class="default1">default</span>
    <span class="default2">default</span>
    <span class="buscar">Buscar</span>
    


    <!--Quadro Meio-->
    <div class="boxMeio"></div>
    <span class="lido">Lido</span>
    <span class="enviado">Enviado por:</span>
    <span class="data_pub">Data de Publicação</span>
    <span class="titulo">Titulo</span>
    <span class="data_exp">Data de Expiração</span>

    <!--Mensagens-->
    <div class="linha0"></div>
        <!--Msg 1-->
        <div class="q1"></div>
        <div class="env1">PROF</div>
        <div class="data_pub1">03/09/2021</div>
        <div class="titulo1">Python é Legal</div>
        <div class="data_exp1">05/09/2021</div>
        <img src="..\..\GRUPO-Gfour---API-ESTUDOS\static\img\lixeira_2_login_tela_cheia.png" class="lixeira1" alt="lixeira">
    
    <div class="linha1"></div>
        <!--Msg 2-->
        <div class="q2"></div>
        <div class="env2">CDC</div>
        <div class="data_pub2">03/09/2021</div>
        <div class="titulo2">Não haverá aula segunda </div>
        <div class="data_exp2">05/09/2021</div>
        <img src="..\..\GRUPO-Gfour---API-ESTUDOS\static\img\lixeira_2_login_tela_cheia.png" class="lixeira2" alt="lixeira">
       

    <div class="linha2"></div>
        <!--Msg 3-->
        <div class="q3"></div>
        <div class="env3">SEC</div>
        <div class="data_pub3">02/09/2021</div>
        <div class="titulo3">Pendência de Documentação</div>
        <div class="data_exp3">10/09/2021</div>
        <img src="..\..\GRUPO-Gfour---API-ESTUDOS\static\img\lixeira_2_login_tela_cheia.png" class="lixeira3" alt="lixeira">
        

    <div class="linha3"></div>

    <img src="..\..\GRUPO-Gfour---API-ESTUDOS\static\img\sinal_mais_login_tela_cheia" class="sinal_mais" alt="Sinal de '+'">


    <!--Rodapé-->
    <div><img class="gov" src="..\..\GRUPO-Gfour---API-ESTUDOS\static\img\Governo_login_tela_cheia.png" alt=""></div>
    <span class="facul">Faculdade de Tecnologia de São José dos Campos - Prof. Jessen Vidal - 2021 S.A Gfour</span>   
</html>

