<!--<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Administrar Usuarios</title>

 <link href="../static/css/bootstrap.min.css" rel="stylesheet">
 <link href="../static/css/style.css" rel="stylesheet">
</head> -->
{% extends "base.html" %}
{% block contents %}
<title>Visualização de Usuario</title>
<body>
    <form action="cadastro" method="post" >
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div style="font-weight: bold;font-size: small;  color: red;font-family: Arial;margin:1%;"  class="notification is-danger">
                    {{ messages[0] }}
                </div>
            {% endif %}
        {% endwith %}


 <!--<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
   <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
     <span class="sr-only">Toggle navigation</span>
     <span class="icon-bar"></span>
     <span class="icon-bar"></span>
     <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Web Dev Academy</a>
   </div>
   <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right">
     <li><a href="#">In&iacute;cio</a></li>
     <li><a href="#">Op&ccedil;&otilde;es</a></li>
     <li><a href="#">Perfil</a></li>
     <li><a href="#">Ajuda</a></li>
    </ul>
   </div>
  </div>
 </nav>
-->

 <div id="main" class="container-fluid">
  <h3 class="page-header" style="font-size: 25px;"><strong>Usuario #{{usuario.idUsuario }}</strong></h3>
  
  <div class="row">
    <div class="col-md-3">
      <p style="font-size: 15px;"><strong>ID</strong></p>
  	  <p style="font-size: 15px;">{{ usuario.idUsuario }}</p>
    </div>
	
	<div class="col-md-3">
      <p style="font-size: 15px;"><strong>Nome</strong></p>
  	  <p style="font-size: 15px;">{{ usuario.nomeUsuario }}</p>
    </div>
      <div class="col-md-3">
      <p style="font-size: 15px;"><strong>Email</strong></p>
  	  <p style="font-size: 15px;">{{ usuario.emailUsuario }}</p>
    </div>
	
	<div class="col-md-3">
      <p style="font-size: 15px;"><strong>Tipo Usuário</strong></p>
  	  <p style="font-size: 15px;">{{ usuario.tipoUsuario }}</p>
    </div>

 </div>
 
 <hr />
 <div id="actions" class="row">
   <div class="col-md-12">
     <a href="/admin" class="btn btn-primary" style="background: rgb(65, 65, 65);border-color:rgb(154, 154, 158);; height: 31px; font-size: 15px;">Fechar</a>
	 <a href="/edit/{{ usuario.idUsuario }}" class="btn btn-primary" style="background: rgb(65, 65, 65);border-color:rgb(154, 154, 158); ;height: 31px; font-size: 15px;">Editar</a>
	 <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#delete-modal" onclick="confirmar_delete({{ usuario.idUsuario }})"style="height: 31px; font-size: 15px;" >Excluir</a>
   </div>
 </div>
     <!-- Modal -->
<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"  data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalLabel" style="font-size: 15px; margin-left: 360px;"><strong>Excluir Item</strong></h4>
      </div>
      <div class="modal-body" style="font-size: 15px;">
        Deseja realmente excluir este item?
      </div>
      <div class="modal-footer">
        <a id="confirmar" class="btn btn-primary" style="height: 31px; font-size: 15px;background: rgb(65, 65, 65);border-color:rgb(154, 154, 158);;">Sim</a>
	<button type="button" class="btn btn-primary" data-dismiss="modal" style="height: 31px; font-size: 15px;background: rgb(65, 65, 65);border-color:rgb(154, 154, 158);;">Não</button>
      </div>
    </div>
  </div>
</div>
 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
    function confirmar_delete(idUsuario){
        $("#confirmar").attr("href",`/deletar/${idUsuario}`)
    }
</script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>
{% endblock %}
</html>