<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Visualização</title>
    <link rel="stylesheet" href="../static/css/visualizacao.css">
    <link rel="stylesheet" type="text/css" href="../static/css/novanav.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<header id="header">
    <a id="logo" href="https://fatecsjc-prd.azurewebsites.net/" title="fatec" ><img src="../static/img/favicon.png" width="60" height="60" class="d-inline-block align-top" alt="">Fa<span>tec</span></a>
    <nav id="nav">
        <ion-icon id="btn-mobile"  name="menu-outline"></ion-icon>
        <ul id="menu">
            <li><a href="{{ url_for('show')}}">Home</a></li>
            <li><a href="{{ url_for ('leitura') }}">Publicar</a></li>
            <li><a href="{{ url_for ('pesquisar') }}">Pesquisar</a></li>
            <li><a href="{{ url_for ('logout') }}">Logout</a></li>
            <!--<li><a href="contato.html">Contato</a></li>-->
        </ul>
    </nav>
</header>







<!--<body style="background-color: #e1e1e3">
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" style="font-weight: bold;font-size: x-large;margin-left: 5px;text-align: center"><img src="../static/img/favicon.png" width="40" height="40" class="d-inline-block align-top" alt=""> FATEC SJC </a>
            <form  class="d-flex">
              <button  style="margin-right:5% ;font-weight: bold"   class="btn btn-secondary" type="button">Voltar</button>
                <a href="{{ url_for ('logout') }}"  >  <button style="margin-right:;font-weight: bold"  class="btn btn-secondary" type="button">Logout</button></a>
            </form>
        </div>
    </nav>-->

<!--<a href="{{ url_for ('leitura') }}"> <button  style="margin-left:25%;margin-top:3%;margin-bottom:5%;width:150px;   font-weight: bold"   class="btn btn-secondary" type="button">Publicar</button></a>
<a href="{{ url_for ('pesquisar') }}"> <button  style="margin-left:25%;margin-top:3%;margin-bottom:5%;width:150px ;    font-weight: bold"   class="btn btn-secondary" type="button">Pesquisar</button></a>-->
   <h2 style="margin-left: 35%;color: #02125d;font-weight: bold; margin-top: 5%">Mensagens Publicadas</h2>

    <div class="m-5 bg-secondary">
    {% for mostrar in postagem %}
        {% if loop.index is divisibleby  2 %}
        <div class="par">
        {% else %}
        <div class="impar">
        {% endif %}
        <div class="media text-muted pt-1" >
            <img data-src="holder.js/32x32?theme=thumb&amp;bg=007bff&amp;fg=007bff&amp;size=1" alt="32x32" class="mr-2 rounded" style="width: 32px; height: 32px;" src="..\static\img\favicon.png" data-holder-rendered="true">
            <a  id="title"  style="text-align: justify;margin-left: 15px;margin-right: -50px;color: black;font-weight: bold"  class="titulo">{{ mostrar['postagem_titulo'] }}</a>
        </div>
        <div>
            <p id="content"   style="margin-top: 1%;margin-left: 4%;text-align: justify;margin-right: 4%">{{ mostrar['postagem_conteudo'] }} </p>
            <strong id="nome" style="margin-top: 8%;margin-left: 4%;color: #ab1c1c">{{ mostrar['user_1_nome'] }}</strong>
            <small id="hora" style="margin-top: 15%;margin-left: 81%; color: #2f3947;font-weight: bold">{{ mostrar['postagem_data'].strftime('%d/%m/%Y %H:%M:%S')}}</small>
            <button type="submit" name="deletar">Apagar Mensagem</button>
            {% if mostrar['postagem_pathFile'] %}
            <a href="{{ url_for('static',filename="documentos/")}}{{ mostrar['postagem_pathFile']}}" download >Download Anexo</a>
            {% endif %}
                <br>
            <br>
</div>
        </div>
        {% endfor %}
</div>
</body>
</html>