<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Visualização</title>
    <link rel="stylesheet" href="../static/css/visualizacao.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body style="background-color: #e1e1e3">
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" style="font-weight: bold;font-size: x-large;margin-left: 5px;text-align: center"><img src="../static/img/favicon.png" width="40" height="40" class="d-inline-block align-top" alt=""> FATEC SJC </a>
            <form  class="d-flex">
                <button  style="margin-right:5% ;font-weight: bold"   class="btn btn-secondary" type="button">Voltar</button>
                <a href="{{ url_for ('logout') }}"  >  <button style="margin-right:;font-weight: bold"  class="btn btn-secondary" type="button">Logout</button></a>
            </form>
        </div>
    </nav>

    <header>
        <h3 style="text-align:center"> Mensagens Publicadas </h3>
    </header>

    <div class="my-3 p-3 bg-white rounded box-shadow">
        <form role="search" class="search" action="../search.html" method="get">
            <select id="version_select">
                <option value="3.11">PROF</option>
                <option value="3.10">SRC</option>
                <option value="3.9" selected="selected">DIR</option>
            </select>
            <input type="text" style="width: 30%;" name="q" aria-label="Busca rápida" placeholder="Pesquisar">
            <input type="submit" value="Ir">
            <a href="{{ url_for ('leitura') }}"> <img title="Postar nova mensagem"   style="width: 5%; margin-left: 55%" src="/static/img/botao1.png" ></a>
            <br>
            <br>
            <hr>
        </form>
        <br>
        <br>

        {% for mostrar in postagem %}
        <div class="media text-muted pt-1" >
            <img data-src="holder.js/32x32?theme=thumb&amp;bg=007bff&amp;fg=007bff&amp;size=1" alt="32x32" class="mr-2 rounded" style="width: 32px; height: 32px;" src="..\static\img\favicon.png" data-holder-rendered="true">
            <strong id="title"  style="text-align: justify;margin-left: 15px;margin-right: -50px"  class="titulo">{{ mostrar['titulo'] }}</strong>
        </div>
        <div>
            <p id="content"   style="margin-top: 1%;margin-left: 4%;text-align: justify;margin-right: 4%">{{ mostrar['conteudo'] }} </p>
            <strong id="nome" style="margin-top: 8%;margin-left: 4%;color: #4a536e">{{ mostrar['nome'] }}</strong>
            <small id="hora" style="margin-top: 1%;margin-left: 81%;  color: #2f3947">{{ mostrar['data'] }}</small>
            <img style="width: 6%;margin-left: 92%;margin-top: 1%"  src="/static/img/download.png" title="Download anexos"  type="download">
            <br>
            <br>
            <hr>
        </div>
        {% endfor %}

    </div>
    <footer class="footer">
        <img src="/static/img/logo_rodape_cadastro.png" alt="logo"  class="logo1">
        <h5 class="h5">Faculdade de Tecnologia de São José dos Campos - Prof. Jessen Vidal </h5>
        <h6 class="h6">2021 S.A Gfour®</h6>
    </footer>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>