<!DOCTYPE html>
<html lang="en">
<head>
    <title>Visualização</title>
    <link rel="stylesheet" href="../static/css/visualizacao.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<body style="background-color: #e1e1e3">
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" style="font-weight: bold;font-size: x-large;margin-left: 5px;text-align: center"><img src="../static/img/favicon.png" width="40" height="40" class="d-inline-block align-top" alt=""> FATEC SJC </a>
            <form  class="d-flex">
                <button  style="margin-right:5% ;font-weight: bold"   class="btn btn-secondary" type="button">Voltar</button>
                <a href="{{ url_for ('logout') }}"  >  <button style="margin-right:;font-weight: bold"  class="btn btn-secondary" type="button">Logout</button></a>
            </form>
        </div>
    </nav>
<a href="{{ url_for ('leitura') }}"> <button  style="margin-left:1%;margin-top:3%;margin-bottom:5%;width:150px;   font-weight: bold"   class="btn btn-secondary" type="button">Publicar</button></a>
<a href="{{ url_for ('pesquisar') }}"> <button  style="margin-left:1%;margin-top:3%;margin-bottom:5%;width:150px ;    font-weight: bold"   class="btn btn-secondary" type="button">Pesquisar</button></a>
   {% for mostrar in postagem %}
        <div class="media text-muted pt-1" >
            <img data-src="holder.js/32x32?theme=thumb&amp;bg=007bff&amp;fg=007bff&amp;size=1" alt="32x32" class="mr-2 rounded" style="width: 32px; height: 32px;" src="..\static\img\favicon.png" data-holder-rendered="true">
            <strong id="title"  style="text-align: justify;margin-left: 15px;margin-right: -50px"  class="titulo">{{ mostrar['titulo'] }}</strong>
        </div>
        <div>
            <p id="content"   style="margin-top: 1%;margin-left: 4%;text-align: justify;margin-right: 4%">{{ mostrar['conteudo'] }} </p>
            <strong id="nome" style="margin-top: 8%;margin-left: 4%;color: #4a536e">{{ mostrar['nome'] }}</strong>
            <small id="hora" style="margin-top: 1%;margin-left: 81%;  color: #2f3947">{{ mostrar['data'] }}</small>
             <a href="../dowloads/dsm.zip" download="dowloads.dsm.zip"><img style="width: 6%;margin-left: 92%;margin-top: 1%"  src="/static/img/download.png" title="Download anexos"  type="application/zip"></a>
            <br>
            <br>
            <hr>
        </div>
        {% endfor %}

</body>
</html>